{% extends 'base.html.twig' %}

{% block title %}New TCpVille{% endblock %}

{% block body %}
    <h1>Create new TCpVille</h1>

    {{ include('t_cp_ville/_form.html.twig') }}

    <a href="{{ path('t_cp_ville_index') }}">back to list</a>
{% endblock %}
