<form method="post" action="{{ path('t_keys_delete', {'id': t_key.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ t_key.id) }}">
    <button class="btn">Delete</button>
</form>
