{% extends 'base.html.twig' %}

{% block title %}TKeys{% endblock %}

{% block body %}
    <h1>TKeys</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ t_key.id }}</td>
            </tr>
            <tr>
                <th>Name</th>
                <td>{{ t_key.name }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('t_keys_index') }}">back to list</a>

    <a href="{{ path('t_keys_edit', {'id': t_key.id}) }}">edit</a>

    {{ include('t_keys/_delete_form.html.twig') }}
{% endblock %}
