{% extends 'base.html.twig' %}

{% block title %}Edit TObjets{% endblock %}

{% block body %}
    <h1>Edit TObjets</h1>

    {{ include('t_objets/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('t_objets_index') }}">back to list</a>

    {{ include('t_objets/_delete_form.html.twig') }}
{% endblock %}
