{% extends 'base.html.twig' %}

{% block title %}TObjets index{% endblock %}

{% block body %}
    <h1>TObjets index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Description</th>
                <th>Illustration</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for t_objet in t_objets %}
            <tr>
                <td>{{ t_objet.id }}</td>
                <td>{{ t_objet.name }}</td>
                <td>{{ t_objet.description }}</td>
                <td>{{ t_objet.illustration }}</td>
                <td>
                    <a href="{{ path('t_objets_show', {'id': t_objet.id}) }}">show</a>
                    <a href="{{ path('t_objets_edit', {'id': t_objet.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('t_objets_new') }}">Create new</a>
{% endblock %}
