{% extends 'base.html.twig' %}

{% block title %}New TObjets{% endblock %}

{% block body %}
    <h1>Create new TObjets</h1>

    {{ include('t_objets/_form.html.twig') }}

    <a href="{{ path('t_objets_index') }}">back to list</a>
{% endblock %}
