{% extends 'base.html.twig' %}

{% block title %}TObjets{% endblock %}

{% block body %}
    <h1>TObjets</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ t_objet.id }}</td>
            </tr>
            <tr>
                <th>Name</th>
                <td>{{ t_objet.name }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ t_objet.description }}</td>
            </tr>
            <tr>
                <th>Illustration</th>
                <td>{{ t_objet.illustration }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('t_objets_index') }}">back to list</a>

    <a href="{{ path('t_objets_edit', {'id': t_objet.id}) }}">edit</a>

    {{ include('t_objets/_delete_form.html.twig') }}
{% endblock %}
