<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>
			{% block title %}Welcome!
			{% endblock %}
		</title>
		<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
		<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
		{# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
		{% block stylesheets %}
			{{ encore_entry_link_tags('app') }}
		{% endblock %}

		{% block javascripts %}
			{{ encore_entry_script_tags('app') }}
		{% endblock %}
	</head>
	<body>

		<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
			<div class="container-fluid">
				<a class="navbar-brand" href="#">Navbar</a>
				<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor02" aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
				</button>

				<div class="collapse navbar-collapse" id="navbarColor02">
					<ul class="navbar-nav me-auto">
						<li class="nav-item">
							<a class="nav-link active" href="#">Home
								<span class="visually-hidden">(current)</span>
							</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href={{path('t_caracteristiques_objets_index')}}>Caratéristique Objets</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href={{path('t_categories_index')}}>Catégories</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href={{path('t_compte_utilisateur_index')}}>Compte Utilisateur</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href={{path('t_cp_ville_index')}}>CP Ville</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href={{path('t_keys_index')}}>Keys</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href={{path('t_message_index')}}>Message</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href={{path('t_objets_index')}}>Objets</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href={{path('t_statut_index')}}>statut</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href={{path('t_utilisateurs_index')}}>Utilisateurs</a>
						</li>
						<li class="nav-item dropdown">
							<a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Dropdown</a>
							<div class="dropdown-menu">
								<a class="dropdown-item" href={{path('t_caracteristiques_objets_index')}}>Caratéristique Objets</a>
								<a class="dropdown-item" href={{path('t_categories_index')}}>Catégories</a>
								<a class="dropdown-item" href={{path('t_compte_utilisateur_index')}}>Compte Utilisateur</a>
								<a class="dropdown-item" href={{path('t_cp_ville_index')}}>CP Ville</a>
								<a class="dropdown-item" href={{path('t_keys_index')}}>Keys</a>
								<a class="dropdown-item" href={{path('t_message_index')}}>Message</a>
								<a class="dropdown-item" href={{path('t_objets_index')}}>Objets</a>
								<a class="dropdown-item" href={{path('t_statut_index')}}>statut</a>
								<a class="dropdown-item" href={{path('t_utilisateurs_index')}}>Utilisateurs</a>
								<div class="dropdown-divider"></div>
								<a class="dropdown-item" href="#">Separated link</a>
							</div>
						</li>
					</ul>
				</div>
			</div>
		</nav>
		{% block body %}{% endblock %}
	</body>
</html>
