{% extends 'base.html.twig' %}

{% block title %}TMessage index{% endblock %}

{% block body %}
    <h1>TMessage index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Objet</th>
                <th>Text</th>
                <th>Date</th>
                <th>PieceJointe</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for t_message in t_messages %}
            <tr>
                <td>{{ t_message.id }}</td>
                <td>{{ t_message.objet }}</td>
                <td>{{ t_message.text }}</td>
                <td>{{ t_message.date ? t_message.date|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ t_message.pieceJointe }}</td>
                <td>
                    <a href="{{ path('t_message_show', {'id': t_message.id}) }}">show</a>
                    <a href="{{ path('t_message_edit', {'id': t_message.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('t_message_new') }}">Create new</a>
{% endblock %}
