{% extends 'base.html.twig' %}

{% block title %}Edit TUtilisateurs{% endblock %}

{% block body %}
    <h1>Edit TUtilisateurs</h1>

    {{ include('t_utilisateurs/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('t_utilisateurs_index') }}">back to list</a>

    {{ include('t_utilisateurs/_delete_form.html.twig') }}
{% endblock %}
