{% extends 'base.html.twig' %}

{% block title %}Edit TCaracteristiquesObjets{% endblock %}

{% block body %}
    <h1>Edit TCaracteristiquesObjets</h1>

    {{ include('t_caracteristiques_objets/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('t_caracteristiques_objets_index') }}">back to list</a>

    {{ include('t_caracteristiques_objets/_delete_form.html.twig') }}
{% endblock %}
