{% extends 'base.html.twig' %}

{% block title %}New TCaracteristiquesObjets{% endblock %}

{% block body %}
    <h1>Create new TCaracteristiquesObjets</h1>

    {{ include('t_caracteristiques_objets/_form.html.twig') }}

    <a href="{{ path('t_caracteristiques_objets_index') }}">back to list</a>
{% endblock %}
