<form method="post" action="{{ path('t_statut_delete', {'id': t_statut.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ t_statut.id) }}">
    <button class="btn">Delete</button>
</form>
